<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="body">
        <div class="flex-container">
            <div class="container-1">
                <nav class="con-header">
                    <h1>404</h1>
                </nav>
            </div>
            <div class="container-2">
                <h3>Not Found</h3>
                <h4>This page dont exist!</h4>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>