<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="body">
        <div class="flex-container">
            <div class="container-1">
                <nav class="con-header">
                    <h2>About Page</h2>
                </nav> 
            </div>
            <div class="container-2">
                <h3>The creator of this webpage is Zhyryll Ryj C. Posadas</h3>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>