<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="body">
        <form action="/blogs" method="POST">
            <label for="blog-title">Blog title:</label><br>
            <input type="text" id="blog-title" name="title" required><br><br>

            <label for="blog-snippet">Blog snippet:</label><br>
            <input type="text" id="blog-snippet" name="snippet" required><br><br>

            <label for="blog-text">Blog body:</label><br>
            <textarea id="blog-text" name="body"></textarea><br><br>

            <input type="submit" value="Submit" class="submit-btn">

        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>